{% extends 'dashboard_temp.html' %}

{% block content %}
{%load static%}
<!-- Srimad Bhagavad Gita -->
<div class="feature-container">
    <img src="https://covers.zlibcdn2.com/covers299/books/5b/57/16/5b5716e89f3a434f501b5ca2f571e796.jpg" height="340" width="auto">
   <h2>Srimad Bhagavad Gita</h2>

   <!-- <a href="{% static 'dashboard/Programming in ANSI C (E. Balagurusamy).pdf' %}" class="btn-slide2" download> -->
    <a href="https://drive.google.com/file/d/1A9tYRZvR7uf96NIG5ZQBFAnp--uLjaIi/view?usp=sharing" class="btn-slide2" >
    <span class="circle2"><i class="" style="font-size:24px"></i></span>
    <span class="title2">Read now</span>
    <span class="title-hover2">Click here</span>
  </a>
 </div>

<!-- BIBLE -->
<div class="feature-container">
    <img src="http://fb2bookfree.com/uploads/posts/2019-06/1560805403_bible-king-james-version-authorized-kjv-1611-best-bible-for-kobo.jpg" height="340" width="auto">
   <h2>The Holy Bible</h2>
   
   <!-- <a href="{% static 'dashboard/Programming in ANSI C (E. Balagurusamy).pdf' %}" class="btn-slide2" download> -->
    <a href="https://drive.google.com/file/d/1lrBGas3vgIxT1chkykIAoqOfPIo5Gdum/view?usp=sharing" class="btn-slide2" >
    <span class="circle2"><i class="" style="font-size:24px"></i></span>
    <span class="title2">Read now</span>
    <span class="title-hover2">Click here</span>
  </a>
 </div>

<!-- Quran -->
<div class="feature-container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Quran.svg/1200px-Quran.svg.png" height="340" width="auto">
   <h2>The Quran</h2>
   
   <!-- <a href="{% static 'dashboard/Programming in ANSI C (E. Balagurusamy).pdf' %}" class="btn-slide2" download> -->
    <a href="https://drive.google.com/file/d/1Ohj-6FQaoJMCjl9vwr7HTz5AbRfnaUPK/view?usp=sharing" class="btn-slide2" >
    <span class="circle2"><i class="" style="font-size:24px"></i></span>
    <span class="title2">Read now</span>
    <span class="title-hover2">Click here</span>
  </a>
 </div>


 
{% endblock content %}