{% extends 'dashboard_temp.html' %}

{% block content %}
{%load static%}
     <!-- ANSI C -->
     <div class="feature-container">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1389513301l/20516856.jpg" height="340" width="auto">
       <h2>ANSI C</h2>
       <p>Author: E Balagurusamy</p>
       <p>Publisher: McGraw Hill Education (India)</p>
       <!-- <a href="{% static 'dashboard/Programming in ANSI C (E. Balagurusamy).pdf' %}" class="btn-slide2" download> -->
        <a href="https://drive.google.com/file/d/1pgM2QnXyQKpQNCdg1qzdQGBeAWFMt08b/view?usp=sharing" class="btn-slide2" >
        <span class="circle2"><i class="" style="font-size:24px"></i></span>
        <span class="title2">Read now</span>
        <span class="title-hover2">Click here</span>
      </a>
     </div>

     <!-- C++ -->
     <div class="feature-container">
        <img src="https://covers.zlibcdn2.com/covers299/books/27/6f/8e/276f8e6d807d67e63813361a49f24791.jpg" height="340" width="auto">
       <h2>C++ The Complete Reference</h2>
       <p>Author: Herbert Schildt</p>
       <p>Publisher: McGraw Hill Education (India)</p>
       <!-- <a href="{% static 'dashboard/C++ The Complete Reference, 4th Edition (Herbert Schildt).pdf' %}" class="btn-slide2" download> -->
        <a href="https://drive.google.com/file/d/1pgM2QnXyQKpQNCdg1qzdQGBeAWFMt08b/view?usp=sharing" class="btn-slide2" >
         <span class="circle2"><i class="" style="font-size:24px"></i></span>
         <span class="title2">Read now</span>
         <span class="title-hover2">Click here</span>
        </a>
      </div>
      
      <!-- DBMS -->
      <div class="feature-container">
        <img src="https://covers.zlibcdn2.com/covers299/books/7e/a8/b6/7ea8b6552592a7c2096ee3ebcc3fb4bf.jpg" height="340" width="auto">
        <h2>Database System Concepts</h2>
        <p>Author: Abraham Silberschatz, Henry F. Korth etc.</p>
       <p>Publisher: McGraw Hill Education (India)</p>
       <!-- <a href="{% static 'dashboard/Database System Concepts (Abraham Silberschatz, Henry F. Korth etc.).pdf' %}" class="btn-slide2" download> -->
        <a href="https://drive.google.com/file/d/1oOeh4jo_I6ONBiJ1fyZdfawQlpAyIanv/view?usp=sharing" class="btn-slide2" >
        <span class="circle2"><i class="" style="font-size:24px"></i></span>
        <span class="title2">Read now</span>
        <span class="title-hover2">Click here</span>
      </a>
     </div>

     <!-- DS -->
      <div class="feature-container">
        <img src="https://covers.zlibcdn2.com/covers299/books/21/1f/e2/211fe2bd196c9eaa09ff712f08596143.jpg" height="340" width="auto">
        <h2>Data Structures A Pseudocode Approach with C</h2>
        <p>Author: Richard F. Gilberg Behrouz A. Forouzan</p>
       <p>Publisher: Course technology Inc</p>
       <!-- <a href="{% static 'dashboard/Data Structures A Pseudocode Approach with C, Second Edition (Richard F. Gilberg Behrouz A. Forouzan).pdf' %}" class="btn-slide2" download> -->
        <a href="https://drive.google.com/file/d/1eE8OsYgOt_pnCPxSVckPYLFbfMRT1qee/view?usp=sharing" class="btn-slide2" >
        <span class="circle2"><i class="" style="font-size:24px"></i></span>
        <span class="title2">Read now</span>
        <span class="title-hover2">Click here</span>
      </a>
     </div>

     <!-- HTML CSS -->
      <div class="feature-container">
        <img src="https://covers.zlibcdn2.com/covers299/books/85/50/8f/85508f219c86933d9faefafe0084a3ac.jpg" height="340" width="auto">
        <h2>HTML  CSS The Complete Reference</h2>
        <p>Author: Thomas A. Powell</p>
       <p>Publisher: McGraw Hill Education (India)</p>
       <!-- <a href="{% static 'dashboard/HTML  CSS The Complete Reference (Thomas A. Powell).pdf' %}" class="btn-slide2" download> -->
        <a href="https://drive.google.com/file/d/1102YQTc4r-WCPXBmf8od0ErBcD0W6fAQ/view?usp=sharing" class="btn-slide2" >
        <span class="circle2"><i class="" style="font-size:24px"></i></span>
        <span class="title2">Read now</span>
        <span class="title-hover2">Click here</span>
      </a>
     </div>

     <!-- JS -->
      <div class="feature-container">
        <img src="https://covers.zlibcdn2.com/covers299/books/00/12/d1/0012d1fb35e0f0ada6234e1993eaacdc.jpg" height="340" width="auto">
        <h2>Express.js Guide  The Comprehensive Book on Express.js</h2>
        <p>Author: Azat Mardanov</p>
       <p>Publisher: McGraw Hill Education (India)</p>
       <!-- <a href="{% static 'dashboard/Express.js Guide  The Comprehensive Book on Express.js (Azat Mardanov).pdf' %}" class="btn-slide2" download> -->
        <a href="https://drive.google.com/file/d/1lyzksjIDDZxkLGtgOKzCaobKpifWs1Kf/view?usp=sharing" class="btn-slide2" >
        <span class="circle2"><i class="" style="font-size:24px"></i></span>
        <span class="title2">Read now</span>
        <span class="title-hover2">Click here</span>
      </a>
     </div>

     <!-- SQL -->
      <div class="feature-container">
        <img src="https://covers.zlibcdn2.com/covers299/books/00/b7/b2/00b7b29625813fb25cf9a4c4d245771a.jpg" height="340" width="auto">
        <h2>SQL The Complete Reference</h2>
        <p>Author: James Groff, Paul Weinberg, Andrew J. Oppel</p>
       <p>Publisher: McGraw Hill Education (India)</p>
       <!-- <a href="{% static 'dashboard/SQL The Complete Reference, 3rd Edition (James Groff, Paul Weinberg, Andrew J. Oppel).pdf' %}" class="btn-slide2" download> -->
        <a href="https://drive.google.com/file/d/1lhHQLXRaBkS453t-eUtAOije7xdyN5Q_/view?usp=sharing" class="btn-slide2" >
        <span class="circle2"><i class="" style="font-size:24px"></i></span>
        <span class="title2">Read now</span>
        <span class="title-hover2">Click here</span>
      </a>
     </div>

     <!-- Computer Networks -->
      <div class="feature-container">
        <img src="https://covers.zlibcdn2.com/covers299/books/4a/c0/f9/4ac0f9c28999dcaa80dae6f3d8265cdb.jpg" height="340" width="auto">
        <h2>Computer Networks</h2>
        <p>Author: Andrew S. Tanenbaum</p>
       <p>Publisher: Prentice Hall</p>
       <!-- <a href="{% static 'dashboard/Computer Networks (Andrew S. Tanenbaum).pdf' %}" class="btn-slide2" download> -->
        <a href="https://drive.google.com/file/d/1VbkphDpz5UNQBrn-1DIlqZa2bVRLlJQG/view?usp=sharing" class="btn-slide2" >
        <span class="circle2"><i class="" style="font-size:24px"></i></span>
        <span class="title2">Read now</span>
        <span class="title-hover2">Click here</span>
      </a>
     </div>
{% endblock content %}