{% extends 'dashboard_temp.html' %}

{% block content %}
{%load static%}
     <!-- Englisg Vocabulary -->
     <div class="feature-container">
        <img src="https://covers.zlibcdn2.com/covers299/books/7a/09/81/7a0981972454dd0a9de9cfa171c9da47.jpg" height="340" width="auto">
        <h2>English Vocabulary in Use - Elementary</h2>
        <p>Author: Michael McCarthy, Felicity O'Dell</p>
       <p>Publisher: Cambridge University Press</p>
       <!-- <a href="{% static 'dashboard/English Vocabulary in Use - Elementary (Michael McCarthy, Felicity ODell).pdf' %}" class="btn-slide2" download> -->
       <a href="https://drive.google.com/file/d/11yhKyrH3Cr7xT7UsjxR5oTmwerMBLt40/view?usp=sharing" class="btn-slide2" >
        <span class="circle2"><i class="" style="font-size:24px"></i></span>
        <span class="title2">Read now</span>
        <span class="title-hover2">Click here</span>
      </a>
     </div>

     <!-- Idioms -->
       <div class="feature-container">
        <img src="https://covers.zlibcdn2.com/covers299/books/b7/ee/fb/b7eefbfe5f4d021966b92302504b4413.jpg" height="340" width="auto">
        <h2>Oxford Dictionary of Idioms</h2>
        <p>Author: Judith Siefring</p>
       <p>Publisher: Oxford University Press, USA</p>
       <!-- <a href="{% static 'dashboard/Oxford Dictionary of Idioms (Judith Siefring).pdf' %}" class="btn-slide2" download> -->
        <a href="https://drive.google.com/file/d/1WQC0vWMJcK0YqfbaxVe8O1wbGl_mOtsc/view?usp=sharing" class="btn-slide2" >
        <span class="circle2"><i class="" style="font-size:24px"></i></span>
        <span class="title2">Read now</span>
        <span class="title-hover2">Click here</span>
      </a>
     </div>

     <!-- Fluent English -->
       <div class="feature-container">
        <img src="https://covers.zlibcdn2.com/covers299/books/e2/b4/ba/e2b4ba97ffb479861f209941a08e8840.jpg" height="340" width="auto">
        <h2>Fluent English</h2>
        <p>Author: Barbara Raifsnider</p>
       <p>Publisher: Random House</p>
       <!-- <a href="{% static 'dashboard/Fluent English Perfect Natural Speech, Sharpen Your Grammar, Master Idiomatic Expressions, Speak Fluently (Barbara Raifsnider).pdf' %}" class="btn-slide2" download> -->
        <a href="https://drive.google.com/file/d/1SbeBVtmItnBa9oLajMRqz1fENm1xew9D/view?usp=sharing" class="btn-slide2" >
        <span class="circle2"><i class="" style="font-size:24px"></i></span>
        <span class="title2">Read now</span>
        <span class="title-hover2">Click here</span>
      </a>
     </div>
{% endblock content %}